*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.flex-item{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    line-height: 70px;
}
/* COMMON CSS END */


/* TOP SECTION START */
.top-section{
    background-color: #d9e2ee;
    padding: 100px 0 50px 0;
}
.green-color{
    color: green;
}
.top-section h1{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    line-height: 40px;
    padding: 0px 10px;
    border-left: 5px solid green;
}
.top-item{
    width: 50%;
}
.top-item p{
    margin-top: 30px;
}
.img-item{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}
.img-item img{
    margin-top: -130px;
    width: 380px;
}
.green-btn{
    padding: 10px 40px;
    background-color: green;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px 0 30px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}
.green-btn:hover{
    box-shadow: 0px 2px 10px #000;
    transform: translateY(-5px);
}
.green-btn a{
    color: #fff;
}
/* TOP SECTION END */


/* MY-MISSION SECTION START */
#color01{
    background-color: paleturquoise;
}
#color02{
    background-color: thistle;
}
#color03{
    background-color: rgb(166, 167, 250);
}
.mission{
    margin: 70px 0;
}
.mission h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.mission .mission-item{
    width: 30%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    transition: .4s;
}
.mission .mission-item:hover{
    box-shadow: 0px 5px 20px #000;
    transform: translateY(-5px);
}
.mission .mission-item h3{
    margin: 20px 0;

}
/* MY-MISSION SECTION END */


/* DEVELOP SECTION START */
.develop{
    background-image: #ddd;
    margin-top: 100px;
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 200px;
}
.develop-img{
    width: 40%;
}
.develop-content{
    width: 60%;
    align-items: center;
    height: 380px;
    overflow: auto;
    background-color: #d9e2ee;
    padding: 10px 20px 0px 30px;
    border-radius: 20px;
}
.develop-content p{
    line-height: 30px;
}
/* DEVELOP SECTION END */


/* GLOBAL SECTION START */
.global{
    background-image: #ddd;
    padding: 100px 0;
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;

}
.global-img{
    width: 40%;
    display: flex;
    justify-content: right;
}
.global-img img{
   width: 360px;
   height: 380px;
}
.global-content{
    width: 60%;
    align-items: center;
    height: 380px;
    overflow: auto;
    background-color: rgb(217, 226, 238);
    padding: 10px 30px 0px 20px;
    border-radius: 20px;
}
.global-content p{
    line-height: 30px;
}

/* GLOBAL SECTION END */

/* PROTFOLIO SECTION START */
.protfolio h1{
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    line-height: 70px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.protfolio-item{
    width: 30%;
    border: 10px solid green;
    border-radius: 5px;
    margin: 30px 0;
    position: relative;
    transition: .3s;
}
.protfolio-item:hover{
    box-shadow: 0px 5px 20px #000;
    transform: translateY(-5px);
}
.protfolio-item img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* PROTFOLIO SECTION END */

/* CONTACT SECTION START */
.contac{
margin: 50px 0;
}
.contac .our-skill{
    width: 48%;
    background-color: #f1e4ed;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
.contac h2{
    text-align: center;
}
.our-skill .progress .bar{
  width: 100%;
  height: 30px;
  background-color: green;
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.our-skill .progress .bar .bar1{
  width: 90%;
  height: 15px;
  background-color: tomato;
  border-radius: 10px;
}
.our-skill .progress .bar .bar2{
  width: 70%;
  height: 15px;
  background-color: tomato;
  border-radius: 10px;
}
.our-skill .progress .bar .bar3{
  width: 95%;
  height: 15px;
  background-color: tomato;
  border-radius: 10px;
}
.our-skill .progress .bar .bar4{
  width: 60%;
  height: 15px;
  background-color: tomato;
  border-radius: 10px;
}
.our-skill .progress .bar .bar5{
  width: 50%;
  height: 15px;
  background-color: tomato;
  border-radius: 10px;
}

.contact-me{
    width: 48%;
    background-color: #f1e4ed;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
#submit{
    text-align: center;
    color: white;
    width: 100%;
}
/* CONTACT SECTION END */


/* FOOTER SECTION START */
footer{
    background-color: #000;
    text-align: center;
    color: #fff;
}
footer h3{
    font-size: 30px;
    line-height: 70px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}
footer p{
    padding-bottom: 30px;
    font-size: 14px;
    font-family: 'Lobster', cursive;
}
/* FOOTER SECTION END */

/* font-family: 'Permanent Marker', cursive */